<style>
	.products {
		margin: 0.5rem auto;
	}

	.product-card {
		background: rgba(255, 255, 255, 0.25);
		background-color: #0093e9;
		background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);

		box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
		backdrop-filter: blur(4px);
		-webkit-backdrop-filter: blur(4px);
		border-radius: 10px;
		border: 1px solid rgba(255, 255, 255, 0.18);
		padding: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin: 1rem;
	}
	.product-title {
		color: #fffafa;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
	.price-tag {
		color: #fffafa;
		background: rgba(255, 255, 255, 0.25);
		box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
		backdrop-filter: blur(4px);
		-webkit-backdrop-filter: blur(4px);
		border-radius: 10px;
		border: 1px solid rgba(255, 255, 255, 0.18);
	}
	.product-description {
		/* background-color: #ff3cac;
		background-image: linear-gradient(
			225deg,
			#ff3cac 0%,
			#784ba0 50%,
			#2b86c5 100%
		);

		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent; */
		color: #fffafa;
		background: rgba(255, 255, 255, 0.25);
		box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
		backdrop-filter: blur(4px);
		-webkit-backdrop-filter: blur(4px);
		border-radius: 10px;
		border: 1px solid rgba(255, 255, 255, 0.18);
		margin: 1rem 0.5rem;
		padding: 1rem 1.5rem;
		width: 100%;
	}

	.buttons {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		width: 200px;
		margin: 0.5rem auto;
	}
</style>

<div class="container-fluid">
	<div class="row">
		<nav class="navbar p-3 navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Navbar</a>
			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbarNav"
				aria-controls="navbarNav"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="#"
							>Home <span class="sr-only">(current)</span></a
						>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Features</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Pricing</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#">Disabled</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	<div class="row">
		<div class="col-3 p-2 buttons">
			<button
				class="btn btn-block btn-outline-primary"
				(click)="changeCategory('')"
			>
				Home
			</button>
			<button
				*ngFor="let cat of categories"
				class="btn btn-outline-primary btn-block"
				[class.active]="cat === selectedCategory"
				(click)="changeCategory(cat)"
			>
				{{ cat }}
			</button>
		</div>
		<div class="col-9 p-2 products">
			<div
				*ngFor="let product of products"
				class="product-card card bg-light"
			>
				<h4 class="product-title">
					{{ product.name }}
					<span
						class="price-tag badge badge-pill badge-primary float-right"
					>
						{{
							product.price
								| currency : "USD" : "symbol" : "2.2-2"
						}}
					</span>
				</h4>
				<div class="product-description card-text">
					{{ product.description }}
				</div>
			</div>

			<div class="form-inline float-left mr-1">
				<select
					class="form-control"
					[value]="productsPerPage"
					(change)="changePageSize($event)"
				>
					<option value="3">3 per Page</option>
					<option value="4">4 per Page</option>
					<option value="6">6 per Page</option>
					<option value="8">8 per Page</option>
				</select>
			</div>

			<div class="btn-group float-right">
				<button
					*counter="let page of pageCount"
					(click)="changePage(page)"
					class="btn btn-outline-primary"
					[class.active]="page === selectedPage"
				>
					{{ page }}
				</button>
			</div>
		</div>
	</div>
</div>
